## Source

This variables are created using the transports demand CSVs created in `FREIGHT_TRANSPORT_DEMAND.ipynb`

In [1]:
import numpy as np
import pandas as pd
import os
from utils.utils import EDAUtils, TransportUtils

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
edau = EDAUtils()
tu = TransportUtils()

In [4]:
# Set up paths
CURRENT_DIR_PATH = os.getcwd()
OUTPUT_DATA_DIR_PATH = os.path.join(CURRENT_DIR_PATH, "output_data")
INPUT_DATA_DIR_PATH = os.path.join(CURRENT_DIR_PATH, "input_data")

In [5]:
# Load passenger data
freight_demand_df = pd.read_csv(os.path.join(OUTPUT_DATA_DIR_PATH, "deminit_trde_freight_mt_km.csv"))
freight_demand_df.head()

   year  deminit_trde_freight_mt_km
0  2015                42403.968375
1  2016                44432.147553
2  2017                45827.191432
3  2018                48713.859151
4  2019                51852.707879

In [6]:
# aviation``|``rail_freight``|``road_heavy_freight``|``water_borne
freight_mode_shares = {
    "aviation": 0.0020,
    "rail_freight": 0.0015,
    "road_heavy_freight": 0.8698,
    "water_borne": 0.1267
}

In [7]:
freight_mode_share_df = freight_demand_df.copy()

In [8]:
for key, value in freight_mode_shares.items():
    var_name = f"frac_trns_mtkm_dem_freight_{key}"
    freight_mode_share_df[var_name] =  freight_demand_df["deminit_trde_freight_mt_km"] * value

In [9]:
freight_mode_share_df.head()

,year,deminit_trde_freight_mt_km,frac_trns_mtkm_dem_freight_aviation,frac_trns_mtkm_dem_freight_rail_freight,frac_trns_mtkm_dem_freight_road_heavy_freight,frac_trns_mtkm_dem_freight_water_borne
0,2015,42403.968375,84.807937,63.605953,36882.971692,5372.582793
1,2016,44432.147553,88.864295,66.648221,38647.081941,5629.553095
2,2017,45827.191432,91.654383,68.740787,39860.491108,5806.305154
3,2018,48713.859151,97.427718,73.070789,42371.314690,6172.045954
4,2019,51852.707879,103.705416,77.779062,45101.485314,6569.738088

In [10]:
freight_mode_share_df.drop(columns=["deminit_trde_freight_mt_km"], inplace=True)
freight_mode_share_df.head()

,year,frac_trns_mtkm_dem_freight_aviation,frac_trns_mtkm_dem_freight_rail_freight,frac_trns_mtkm_dem_freight_road_heavy_freight,frac_trns_mtkm_dem_freight_water_borne
0,2015,84.807937,63.605953,36882.971692,5372.582793
1,2016,88.864295,66.648221,38647.081941,5629.553095
2,2017,91.654383,68.740787,39860.491108,5806.305154
3,2018,97.427718,73.070789,42371.314690,6172.045954
4,2019,103.705416,77.779062,45101.485314,6569.738088

In [11]:
freight_mode_share_df.tail()

,year,frac_trns_mtkm_dem_freight_aviation,frac_trns_mtkm_dem_freight_rail_freight,frac_trns_mtkm_dem_freight_road_heavy_freight,frac_trns_mtkm_dem_freight_water_borne
82,2096,103.705416,77.779062,45101.485314,6569.738088
83,2097,103.705416,77.779062,45101.485314,6569.738088
84,2098,103.705416,77.779062,45101.485314,6569.738088
85,2099,103.705416,77.779062,45101.485314,6569.738088
86,2100,103.705416,77.779062,45101.485314,6569.738088

In [12]:
freight_mode_share_df.to_csv(os.path.join(OUTPUT_DATA_DIR_PATH, "frac_trns_mtkm_dem_freight.csv"), index=False)